# =========================
# Nextcloud
# =========================
# Database
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Nextcloud
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
NEXTCLOUD_TRUSTED_DOMAINS=
NEXTCLOUD_PORT=

# OnlyOffice
ONLYOFFICE_PORT=
ONLYOFFICE_JWT_ENABLED=
ONLYOFFICE_JWT_SECRET=

# PHP
PHP_MEMORY_LIMIT=
PHP_UPLOAD_LIMIT=

# =========================
# Gitea
# =========================
USER_UID=
USER_GID=

GITEA_DB_TYPE=
GITEA_DB_HOST=
GITEA_DB_NAME=
GITEA_DB_USER=
GITEA_DB_PASSWD=

GITEA_DOMAIN=
GITEA_SSH_PORT=
GITEA_HTTP_PORT=
GITEA_ROOT_URL=

# MySQL
MYSQL_CHARSET=
MYSQL_COLLATION=

# =========================
# WordPress
# =========================
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_USERNAME=
DEFAULT_ADMIN_FULL_NAME=
DEFAULT_ADMIN_PASSWORD=
