# =========================
# Immich - Variáveis de Ambiente
# =========================

# Pasta onde as fotos e vídeos serão armazenados
UPLOAD_LOCATION=./volumes/upload

# Configuração do banco de dados
DB_DATABASE_NAME=immich
DB_USERNAME=immich
DB_PASSWORD=mude_sua_senha_aqui
DB_DATA_LOCATION=./volumes/database
